In [1]:
import bql
import pandas as pd
import numpy as np

In [3]:
# Data for Basics

basics_query = """
    get(
      px_last
    ) for(
      'IBM US Equity'
    ) with(
      dates=range(-29d, 0d),
      fill=prev
    )
"""

periods = 30

dates = pd.date_range(start=pd.Timestamp.now() - pd.DateOffset(years=1), periods=periods).normalize()

basics_response = pd.DataFrame({"ID": "IBM US Equity", 
                          "DATE": dates,
                          "px_last": np.random.rand(periods)*10})


bql._save(basics_query, basics_response)

In [4]:
basics_response = bql.combined_df(bql.Service().execute(basics_query))
basics_response['DATE'].apply(lambda x: x.toordinal())

0     738635
1     738636
2     738637
3     738638
4     738639
5     738640
6     738641
7     738642
8     738643
9     738644
10    738645
11    738646
12    738647
13    738648
14    738649
15    738650
16    738651
17    738652
18    738653
19    738654
20    738655
21    738656
22    738657
23    738658
24    738659
25    738660
26    738661
27    738662
28    738663
29    738664
Name: DATE, dtype: int64

              ID       DATE   px_last
0  IBM US Equity 2023-04-25  1.136183
1  IBM US Equity 2023-04-26  1.165688
2  IBM US Equity 2023-04-27  9.355895
3  IBM US Equity 2023-04-28  6.505655
4  IBM US Equity 2023-04-29  7.371393
5  IBM US Equity 2023-04-30  9.454068
6  IBM US Equity 2023-05-01  3.545464
7  IBM US Equity 2023-05-02  6.643469